# This file is here to "safety check" all the dependencies listed in pyproject.toml
--index-url "https://gitlab.sintef.no/api/v4/projects/17883/packages/pypi/simple"
DataSpaces-Auth[fastapi]~=0.3.1
fastapi>=0.115.5,<1
httpx>=0.27.2,<1
pydantic-settings~=2.8
pymongo~=4.11
python-dotenv~=1.1
pyyaml~=6.0
soft7>=0.3.0,<1
uvicorn-worker>=0.3.0,<1

# 'testing' extra
dlite-python<=0.5.23; python_version<'3.13'
pytest~=8.3
pytest-cov~=6.1
pytest-httpx~=0.35.0

# 'server' extra
gunicorn~=23.0

# 'dev' extra
pre-commit~=4.2
