# This file is here to "pip-audit" all the dependencies listed in pyproject.toml
--index-url "https://gitlab.sintef.no/api/v4/projects/17883/packages/pypi/simple"
DataSpaces-Auth[fastapi]~=0.3.1
fastapi>=0.123.0,<1
httpx~=0.28.1
pydantic-settings~=2.12
pymongo~=4.15
python-dotenv~=1.2
pyyaml~=6.0
soft7>=0.4.0,<1
uvicorn-worker>=0.3.0,<1

# 'testing' extra
dlite-python~=0.5.29
pytest>=8.4,<10
pytest-cov~=7.0
pytest-httpx~=0.36.0

# 'server' extra
gunicorn~=23.0

# 'dev' extra
pre-commit~=4.5
