name: CI - Update API Documentation

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  generate_openapi_doc:
    name: Generate OpenAPI Documentation

    permissions:
      contents: write

    uses: SemanticMatter/ds-utils/.github/workflows/ci_generate_openapi_doc.yml@v0.3.0
    with:
      path-to-app-factory: dataspaces_entities.main.create_app
      markdown-file-path: openapi.md
      disable-auth-env-var: DS_ENTITIES_DISABLE_AUTH_ROLE_CHECKS
      markdownlint-config-path: .markdownlint.yaml
      push-changes: ${{ github.event_name == 'pull_request' }}
