name: CI - Update Docker requirements

on:
  schedule:
    # Run every Monday at 4:00 AM
    - cron: '09 3 * * 1'
  workflow_dispatch:

env:
  PIP_INDEX_URL: "${{ vars.EXTERNAL_PYPI_INDEX_URL }}"

jobs:
  update:
    name: Update Docker requirements
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6

      # The python version must match the one in Dockerfile
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          pip install -U setuptools wheel
          pip install -U -r .github/utils/requirements_audit.txt

      - name: Setup git
        run: |
          git config --global user.name "${{ vars.CI_CD_GIT_USER }}"
          git config --global user.email "${{ vars.CI_CD_GIT_EMAIL }}"

      - name: Update Python requirements used for Dockerfile
        id: update-requirements
        run: |
          pip-compile --index-url="${{ env.PIP_INDEX_URL }}" "${{ github.workspace }}/pyproject.toml"

          if [ -z "$(git status --porcelain)" ]; then
            echo "✔ No updates"
            echo "changes=no" >> $GITHUB_OUTPUT
          else
            echo "✨ Updates found"
            echo "changes=yes" >> $GITHUB_OUTPUT
          fi
        env:
          # Use this to be runner-agnostic (avoiding the hardcoded path to the pyproject.toml file)
          # Note, this hides the configuration settings from pyproject.toml and is therefore not
          # a _true_ self-contained full command for pip-compile - but that's fine.
          # This avoids having to change this compile command, should we change the config in pyproject.toml.
          CUSTOM_COMPILE_COMMAND: "pip-compile --index-url=${{ env.PIP_INDEX_URL }} $(pwd)/pyproject.toml"

      - name: Create PR
        if: steps.update-requirements.outputs.changes == 'yes'
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.SEMANTICMATTER_PAT }}
          committer: "${{ vars.CI_CD_GIT_USER }} <${{ vars.CI_CD_GIT_EMAIL }}>"
          author: "${{ vars.CI_CD_GIT_USER }} <${{ vars.CI_CD_GIT_EMAIL }}>"
          branch: ci/update-python-requirements-for-dockerfile
          delete-branch: true
          title: "Update Python requirements for Dockerfile"
          commit-message: "Update Python requirements for Dockerfile"
          body: "### ✨ Update Python requirements for Dockerfile\n\nThis PR updates the Python requirements for the Dockerfile to the latest versions.\n\n> **Note**: This PR was automatically generated by the CI workflow [_CI - Update Docker requirements_](https://github.com/${{ github.repository }}/actions/workflows/ci_update_docker_reqs.yml)."
          labels: "CI/CD,skip-changelog"

      - name: Information about the PR
        if: steps.update-requirements.outputs.changes == 'yes'
        run: 'echo "${{ steps.cpr.outputs.pull-request-operation }} PR #${{ steps.cpr.outputs.pull-request-number }}: ${{ steps.cpr.outputs.pull-request-url }}"'
